* {
  font-family: 'Sawarabi Gothic', sans-serif;
}

h2, h3, span, p, th, td{
  color: #333;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

select {
  outline: none;
}

button {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.page-title {
  display: inline-block;
  padding-bottom: 0.5rem;
  border-bottom: 0.4px solid #F0C080;
  font-size: 1.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1.1rem 3rem 1.1rem 2rem;
  background-color: #008282;
}

header h1 {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1.5;
}

header i {
  margin-left: 0.4rem;
}

.app-name {
  color: white;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  display: inline-block;
  margin-left: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: #eef4d2;
  color: #008282;
}

.main__outer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 3rem
}

.main__title-block {
  position: relative;
  margin-right: 50px;
  width: 45%;
}

.main__title-block img {
  width: 100%;
}

.main__title {
  position: absolute;
  top: 35%;
  left: 2rem;
}

.main__title--item {
  text-shadow: 3px 3px 0 #FFF, -1px -1px 0 #FFF,
      -1px 1px 0 #FFF, 1px -1px 0 #FFF,
      0px 1px 0 #FFF, 0-1px 0 #FFF,
      -1px 0 0 #FFF, 1px 0 0 #FFF;
}

.main__title--item h2 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  color: #008282;
}

.main__title--item p {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: #008282;
}

.main__title a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  background-color: #f38630;
  border-radius: 2rem;
  box-shadow: 5px 5px 2px gray;
  color: white;
  font-size: 1.5rem;
  text-shadow: none;
}

.main__title--notice {
  margin-top: 0.7rem;
  margin-left: 1rem;
}

.main__info {
  padding: 1rem;
  background-color: #eef4d2;
  width: 30%;
}

.main__info--title {
  display: inline-block;
  margin: 1.5rem 0 1.2rem 0.5rem;
  border-bottom: 2px dotted #008282;
  font-size: 1.2rem;
  color: #008282;
}

.main__info--contents {
  margin-top: 1.3rem;
}

.main__info--item span {
  display: inline-block;
  vertical-align: top;
  padding: 0.3rem 0.8rem;
  border-radius: 20px;
  background-color: #f38630;
  color: white;
  font-size: 0.9rem;
}

.main__info--item p {
  display: inline-block;
  margin-left: 0.7rem;
  margin-bottom: 2.7rem;
  padding: 0.3rem 0;
  width: 60%;
  border-bottom: 1px solid #F0C080;
}

.main__info--item i {
  color: #F0C080;
}


/* reserveのCSS */

.reserve__wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  height: 85vh;
}

.reserve__block {
  margin-left: 5rem;
  width: 30%;
}

.reserve__first-search,
.reserve__second-search,
.reserve__time-input {
  margin: 2rem 0;
}

.reserve__input {
  padding: 0.2rem 0.5rem;
  width: 70%;
  box-sizing: border-box;
  font-size: 0.95rem;
}

.reserve__block button{
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #f38630;
  color: white;
  font-size: 0.9rem;
}

.reserve__alert {
  margin-left: 6rem;
}

.reserve__step {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 2px solid #008282;
  border-radius: 5px;
  background-color: #eef4d2;
  color: #008282;
}

.reserve__search--title {
  display: inline-block;
  margin-left: 1rem;
}

.reserve__change {
  margin-left: 6rem;
  margin-bottom: 1rem;
  text-decoration: underline;
  text-decoration-color:#f38630;
}

.reserve__search--box {
  margin-left: 6rem;
}

.reserve__alert {
  display: inline-block;
  margin: 0 0 0.9rem 6rem;
  padding: 0.4rem 1rem;
  border-radius: 3px;
  background-color: rgb(247, 195, 195);
  color: red;
  font-size: 0.9rem;
}

.reserve__reserved {
  margin-left: 2rem;
}

.reserve__reserved--notice {
  margin: 1rem 0 1rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #eef4d2;
  font-size: 0.95rem;
  line-height: 1.2rem;
}

.reserve__start-time, .reserve__end-time {
  margin-bottom: 1rem;
}

.reserve__time-input select{
  padding: 0.2rem 0.5rem;
  box-sizing: border-box;
  font-size: 0.95rem;
}

.reserve__button {
  display: block;
  width: 22rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.reserve__calendar {
  margin-top: 1rem;
  margin-right: 5rem;
  width: 35%;
}

.reserve__calendar i {
  margin-top: 1px;
  vertical-align: top;
  color: #f38630;
}

.reserve__calendar--notice {
  display: inline-block;
  margin-bottom: 1rem;
  width: 90%;
  font-size: 0.9rem;
  line-height: 1.1rem;
}

.reserve__calendar--table {
  height: 85%;
  overflow: scroll;
}

.reserve__calendar table {
  text-align: center;
  border: none;
}

.reserve__calendar th, .reserve__calendar td {
  padding: 6px;
  border: 1px solid gray;
}

.reserve__calendar th {
  background-color: #f0f3e3;
}

.reserve__calendar tr:nth-child(4n+5) {
  border-bottom: 2px solid rgb(94, 93, 93);
}

.reserve__calendar--date {
  background-color: #f0f3e3;
}

.reserve__unable {
  background-color: rgb(236, 234, 234);
}


/* confirmのCSS */

.confirm__wrapper {
  text-align: center;
  padding-top: 3rem;
}

.confirm__wrapper h2 {
  display: inline-block;
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
  border-bottom: 0.4px solid #f38630;
}

.confirm__contents {
  display: flex;
  justify-content: center;
  margin: 2rem auto 3rem auto;
  padding-top: 2rem;
  width: 35%;
  text-align: left;
  background-color: #f2f6e1;
}

.confirm__contents p {
  margin-bottom: 2rem;
}

.confirm__contents--left {
  margin-right: 5rem;
}

.confirm__contents--left p {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid #008282;
  box-sizing: border-box;
  background-color: white;
  color: #008282;
}

.confirm__contents--right p{
  padding: 0.55em 0;
}

.reserve__confirm p:nth-child(3) {
  margin-bottom: 0.2rem;
}

.confirm__button--back {
  display: inline-block;
  margin-right: 3rem;
  text-decoration: underline;
  text-decoration-color: #345151;
}

.confirm__button--reserve {
  display: inline-block;
}

.confirm__button--reserve button {
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #f38630;
  font-size: 1rem;
  color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}


/* thanks, verifyのCSS */

.thanks__wrapper {
  text-align: center;
  padding-top: 6rem;
}

.thanks__contents {
  margin: 0 auto;
  padding: 3.5rem 7rem;
  width: 32rem;
  border-radius: 5px;
  background-color: #eef7ee;
}

.thanks__contents p {
  display: inline-block;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.4px solid #008282;
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.thanks__contents a, .thanks__contents button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.thanks__contents--top {
  background-color: #008282;
  color: white;
}

.thanks__contents--mypage {
  margin-left: 3rem;
  border: 2px solid #008282;
  background-color: #eef4d2;
  color: #008282;
}

.thanks__contents button {
  background-color: #008282;
  border: none;
  color: white;
}


/* infoのCSS */

.info__wrapper {
  padding: 3rem 4rem 0 3rem;
}

.info__title h2 {
  display: inline-block;
  padding-bottom: 1.3rem;
  border-bottom: 0.4px solid #F0C080;
  font-size: 1.5rem;
}

.info__title span {
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 0.3rem 0.8rem;
  border-radius: 20px;
  background-color: #F0C080;
  color: rgb(69, 69, 69);
  font-size: 0.9rem;
}

.info__contents {
  margin: 1.5rem 1.5rem 3rem 1.5rem;
}

.info__button {
  text-align: center;
}

.info__button a {
  display: inline-block;
  margin: 1rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  color: white;
}

.info__button--article a {
  background-color: #f38630;
}

.info__button--top a {
  background-color: #F0C080;
  color: rgb(69, 69, 69);
}


/* register,loginのCSS */

.auth__wrapper {
  padding-top: 7rem;
}

.auth__box {
  margin: 0 auto;
  width: 35%;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 2px 2px 7px gray;
}

.auth__title {
  padding: 0.8rem 0.8rem;
  border: none;
  border-radius: 5px 5px 0 0;
  font-size: 1.1rem;
}

.auth__title h2 {
  display: inline-block;
  margin-top: 1rem;
  margin-left: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.4px solid #008282;
}

.auth__item--inner {
  margin: 0.5rem auto 2rem auto;
  width: 80%;
  font-size: 1.6rem;
}

.auth__item form {
  margin: 0 auto;
}

.auth__input {
  margin-bottom: 1rem;
}

.auth__input i {
  margin-right: 0.5rem;
  width: 1rem;
  color: #008282;
}

.auth__input input {
  padding: 0.3rem;
  margin-left: 0.7rem;
  width: 85%;
  border-bottom: 1px solid gray;
  background-color: #eef4d2;
  outline: none;
  border: none;
}

.auth__input p {
  margin-left: 2.2rem;
  font-size: 0.9rem;
}

.auth__button {
  margin-right: 1rem;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 20px;
  background-color: #008282;
  color: white;
  font-size: 0.95rem;
}

.register__button {
  display: block;
  margin: 0 15% 1.8rem auto;
  padding: 0.4rem 1.5rem;
}

.auth__bottom {
  text-align: right;
}

.auth__bottom a {
  margin-right: 2rem;
  font-size: 0.9rem;
  color: rgb(110, 109, 109);
}

.alert__notice {
  display: inline-block;
  padding: 0.3em 1em;
  font-size: 0.9rem;
  color: red;
}

.login-error {
  margin-left: 2rem;
}


/* mypageのCSS */

.mypage__outer {
  margin: 2rem auto;
  width: 80%;
}

.mypage__inner {
  margin: 0 auto;
}

.mypage__contents {
  margin: 2rem 2rem 0 2rem;
}

.mypage__contents h3 {
  display: inline-block;
  padding-bottom: 0.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 2px dotted #008282;
}

.mypage__contents--inner {
  margin: 1rem 0 0 2rem;
}

.mypage__contents--inner table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
}

.mypage__contents--inner th, 
.mypage__contents--inner td {
  padding: 1rem 2.5rem;
}

.mypage__contents--inner th {
  background-color: #008282;
  color: white;
  font-weight: 100;
}

.mypage__contents--inner td:first-child {
  border-right: 1px solid white;
}

.mypage__contents--inner th:not(:last-child) {
  border-right: 1px solid white;
}

.mypage__contents--inner tr:nth-child(2n):not(th) {
  background-color: #eef4d2;
  color: #008282;
}

.mypage__contents--inner td:last-child {
  border: none;
  background-color: white;
  text-align: left;
}

.mypage__reserve a, .mypage__review a{
  padding: 0.3rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.mypage__reserve a {
  border: 2px solid #eef4d2;
  background-color: #008282;
  color: white;
}

.mypage__review a {
  border: 2px solid #008282;
  background-color: #eef4d2;
  color: #008282;
}


/* reveiwのCSS */
.review__outer {
  margin: 4rem auto;
  width: 40%;
}

.review__inner {
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  border: 0.3px solid rgb(171, 170, 170);
  border-radius: 10px;
  background-color: #eef4d2;
  box-shadow: 10px 10px 0px 0  #F0C080;
}

.review__inner--item {
  margin-top: 2rem;
}

.review__inner--item i {
  color: #f38630;
}

.review__inner--item p {
  padding: 0.5rem 0;
}

.review__info {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 10px;
  background-color: whitesmoke;
}

.review__info span {
  display: inline-block;
  margin: 0.5rem 0;
  font-size: 0.8rem;
  text-decoration: underline;
  text-decoration-color: #F0C080;
}

.review__info p {
  font-weight: bold;
}

.review__inner select ,.review__inner textarea {
  border: 0.3px solid rgb(171, 170, 170);
  border-radius: 5px;
  outline: none;
}

.review__inner select {
  font-size: 1.2rem;
}

.review__inner textarea {
  width: 100%;
  box-sizing: border-box;
}

.review__inner button {
  display: block;
  margin: 2rem 0 0 auto;
  padding: 0.3rem 1rem;
  border: 2px solid #F0C080;
  border-radius: 5px;
  background-color: #eef7ee;
  font-size: 1rem;
}