/* adminフォルダCSS */

.admin__title {
  display: inline-block;
  vertical-align: 10%;
  margin-left: 1em;
  padding: 0.3em 1em;
  border-radius: 10px;
  background-color: white;
  color: #008282;
}

.admin__user {
  display: inline-block;
  padding-right: .5em;
  color: white;
  font-weight: 1.2em;
}

.admin__main {
  padding-top: 4%;
}

.admin__title--add {
  margin-bottom: 1.4em;
}

.admin__title--add h2 {
  display: inline-block;
  margin-left: 9%;
  padding-bottom: 0.8em;
  font-size: 1.2em;
  border-bottom: 2px dotted #008282;
}

.auth__input .admin__password-confirm {
  margin-left: 2.1em;
}

.admin__outer {
  margin: 0 auto;
  width: 50%;
}

.admin__notice {
  width: 25%;
  margin: 0 auto 1.5em auto;
}

.admin__notice p {
  padding: 0.5em 1em; 
  border-radius: 5px;
  background-color: rgb(255, 167, 50, 0.4);
}


@media screen and (max-width: 900px) {
  .admin__title {
    font-size: .9em;
  }

  .aa__nav--button a {
    font-size: .8em;
    margin: 0 .4em;
  }

  .aa__nav--button a:last-of-type {
    margin-left: 0;
  }

}

@media screen and (max-width: 768px) {
  .admin__outer {
    width: 80%;
  }
  
  .admin__title {
    margin-left: 0.2em;
    font-size: .8em;
  }

  .admin__user {
    padding: .2em 0;
    font-size: .8em;
  }

  .admin__notice {
    width: 45%;
    margin: 0 auto 1.5em auto;
  }
}

@media screen and (max-width: 520px) {
  .app-name {
    width: 45%;
  }

  nav {
    flex-flow: column;
    justify-content: flex-end;
  }

  nav a{
    margin: 0;
  }

  .admin__title {
    margin-left: 0;
  }

  .aa__nav--button a {
    font-size: .8em;
  }
}


/* airport_adminフォルダCSS */

/* mainのCSS */

.aa__title {
  border: 1px solid #F0C080;
  background-color: #F0C080;
  color: #333;
}

.aa__main {
  margin-top: 0;
  background-color: #ecf0f0;
  height: 100vh;
}

.aa__wrapper {
  margin: 0 auto;
  padding-top: 7.2em;
  width: 80%;
  background-color: #ecf0f0;
}

.aa__alert {
  margin: 0 auto 1em auto;
  padding: .5em 2em;
  width: 70%;
  background-color: rgba(247, 96, 96, 0.3);
  border-radius: 10px;
  font-size: .9em;
}

.aa__notice {
  background-color: #eef4d2;
}

.aa__notice--login {
  position: absolute;
  top: 6.5em;
  right: 8%;
  margin: 0 0 0 auto;
  padding: 1em 2em;
  width: 30%;
  background-color: #eef4d2;
  border-radius: 10px;
}

.aa__notice--logout {
  margin: 0 auto 0.8em auto;
  padding: 1em 2em;
  width: 30%;
  background-color: #eef4d2;
  border-radius: 10px;
}

.aa__page-title {
  display: inline-block;
  padding-bottom: 0.6em;
  font-size: 1.2em;
  border-bottom: 2px dotted #008282;
}

.aa_main__outer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 4%;
  row-gap: 4%;
  margin-top: 2rem;
}

.aa_main__item {
  display: block;
  padding: 5em;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 7px lightslategray;
  text-align: center;
}

.aa_main__item p {
  color: #008282;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.aa_main__item i {
  margin-right: 0.8em;
}

@media screen and (max-width: 768px) {
  .aa_main__outer {
    column-gap: 7%;
    row-gap: 7%;
    margin-top: 2rem;
  }

  .aa_main__item {
    padding: 20%;
  }

  .aa_main__item p {
    font-size: .8em;
    letter-spacing: 0;
  }

  .aa_main__item i {
    margin-right: 0.3em;
  }
}

/* add-**のCSS */

.aa_add__wrapper {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  padding: 7.5em 2em 0 2em;
  background-color: #ecf0f0;
}

.aa_add__outer {
  padding: 2em 3em;
  width: 40%;
  border-radius: 10px;
  background-color: whitesmoke;
}

.aa_add__inner {
  margin: 1.2em 0;
}

.aa_add__inner span {
  display: inline-block;
  margin-right: 1em;
  padding: 0.5em 1em;
  background-color: #eef4d2;
  border-radius: 10px;
  font-size: 0.95em;
}

.aa_add__inner p {
  display: inline-block;
  margin-top: 0.5em;
  font-size: 0.9em;
}

.aa_add__inner--item {
  display: inline-block;
}

.aa_add__inner select {
  padding: 0.2em 0.5em;
}

.aa_add__input {
  box-sizing: border-box;
  width: 65%;
}

.aa_add__outer button {
  display: block;
  margin: 0 0 0 auto;
  padding: 0.3em 1em;
  border: none;
  border-radius: 10px;
  background-color: #F0C080;
  box-shadow: 1px 1px 2px gray;
  font-size: 1rem;
}

.aa_add__info input {
  width: 60%;
}

.aa_add__info span{
  vertical-align: top;
}

.aa_add__info textarea {
  width: 70%;
}

.aa_add__spot {
  margin-top: 1em;
}

.aa_add__spot--item {
  display: inline-block;
}

.aa_add__inner .aa_change__button {
  display: inline-block;
  margin-left: 1em;
  padding: .2em .5em;
  font-size: 0.8em;
  background-color: #ecf0f0;
  border: 1px solid gray;
  border-radius: 5px;
}

@media screen and (max-width: 840px) {
  .aa_add__wrapper {
    display: block;
    padding-top: 4.5em;
  }

  .aa_add__outer {
    margin: 1em auto;
    padding: 2em 1.5em;
    width: 90%;
  }

}

/* reservationのCSS */

.aa_reservation__wrapper {
  margin: 0 auto;
  padding-top: 7.2em;
  width: 90%;
}

.aa_reservation__box {
  margin-top: 1em;
  padding: 1em 2em;
  background-color: whitesmoke;
  border: none;
  border-radius: 10px;
  font-size: .95em;
}

.aa_reservation__search {
  display: flex;
  align-items: center;
}

.aa_reservation__search--inner {
  margin-right: 2em;
}

.aa_reservation__search--inner span {
  display: inline-block;
  vertical-align: middle;
  padding-right: 0.5em;
  font-weight: bold;
}

.aa_reservation__search--inner input,
.aa_reservation__search--inner select {
  padding: 0.1em 0.8em;
  font-size: 0.9em;
}

.aa_reservation__search--inner option {
  font-size: 1em;
}

.aa_reservation__search button {
  border: 2px solid gray;
  border-radius: 5px;
  background-color: #ecf0f0;
  font-size: 0.8em;
}

.aa_reservation__pagination {
  padding-bottom: 1em;
}

.aa_reservation__box table {
  padding-top: 1em;
  width: 100%;
  text-align: center;
}

.aa_reservation__box td{
  padding: 0.5em 0;
}

.aa_reservation__box th {
  padding: 0.7em 0;
  background-color: #eef4d2;
}

@media screen and (max-width: 768px) {
  .aa_reservation__search--inner{
    margin-right: 1em;
    width: 40%;
  }
  .aa_reservation__search--inner:last-of-type{
    margin-right: 1em;
    width: 30%;
  }

  .aa_reservation__search button {
    padding: .5em .8em;
  }
}

/* authのCSS */

.aa_auth__wrapper {
  padding-top: 9rem;
}

.aa_auth__notice {
  padding-left: 3.4em;
  color: red;
  font-size: 0.9em;
}

.aa_auth__password-confirm {
  margin-left: 3.5em;
}
@media screen and (max-width: 768px){
  .aa_auth__wrapper {
    padding-top: 7rem;
  }
}

/* mailのCSS */

.aa_mail__wrapper {
  padding: 7.5em 0 1em 0;
  background-color: #ecf0f0;
}

.aa_mail__outer {
  margin: 0 auto;
  padding: 2em;
  width: 80%;
  border-radius: 10px;
  background-color: whitesmoke;
}

.aa_mail__inner {
  padding: 1em 2em 0 2em;
}

.aa_mail__item {
  padding-top: 1em;
}

.aa_mail__item span {
  display: inline-block;
  padding: 0.3em 0.8em;
  width: 3em;
  border-radius: 5px;
  background-color: #eef4d2;
  font-size: 0.85em;
}

.aa_mail__item input, .aa_mail__item textarea {
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 1em;
}

.aa_mail__item textarea {
  padding: .5em;
  width: 100%;
}

.aa_mail__item--to,
.aa_mail__item--subject {
  padding-bottom: 0.4em;
  border-bottom: 1px solid #008282;
}

.aa_mail__item p {
  display: inline-block;
}

.aa_mail__item input {
  width: 80%;
}

.aa_mail__inner button {
  display: block;
  margin: 1em 0 0 auto;
  padding: 0.3em .8em;
  border: none;
  border-radius: 5px;
  background-color: #008282;
  color: white;
  box-shadow: 2px 2px 1px gray;
}

.aa_mail__outer--back {
  margin-left: 2em;
  border-bottom: 1px solid;
  vertical-align: baseline;
  color: #008282;
}

.aa_mail__outer i {
  margin-right: .5em;
}

.aa_mail__item--confirm {
  padding: .5em;
  white-space: pre-wrap;
}

@media screen and (max-width: 768px) {
  .aa_mail__outer {
    padding: 1em;
  }
  
  .aa_mail__item input {
    width: 64%;
  }

  .aa_mail__inner {
    padding: .8em 1em 0 1em;
  }
}